In [1]:
import pandas as pd
import numpy as np 

import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import math
%matplotlib inline

file = '../input/drug_data.csv'
drug_data = pd.read_csv(file,'rb', delimiter =';')
#train.describe()

In [2]:
drug_data.head(8)
#train.shape

,ID,Age,Gender,Education,Country,Ethnicity,Nscore,Escore,Oscore,Ascore,...,Ecstasy,Heroin,Ketamine,Legalh,LSD,Meth,Mushrooms,Nicotine,Semer,VSA
0,1,"0,49788","0,48246","-0,05921","0,96082","0,126","0,31287","-0,57545","-0,58331","-0,91699",...,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL2,CL0,CL0
1,2,"-0,07854","-0,48246","1,98437","0,96082","-0,31685","-0,67825","1,93886","1,43533","0,76096",...,CL4,CL0,CL2,CL0,CL2,CL3,CL0,CL4,CL0,CL0
2,3,"0,49788","-0,48246","-0,05921","0,96082","-0,31685","-0,46725","0,80523","-0,84732","-1,6209",...,CL0,CL0,CL0,CL0,CL0,CL0,CL1,CL0,CL0,CL0
3,4,"-0,95197","0,48246","1,16365","0,96082","-0,31685","-0,14882","-0,80615","-0,01928","0,59042",...,CL0,CL0,CL2,CL0,CL0,CL0,CL0,CL2,CL0,CL0
4,5,"0,49788","0,48246","1,98437","0,96082","-0,31685","0,73545","-1,6334","-0,45174","-0,30172",...,CL1,CL0,CL0,CL1,CL0,CL0,CL2,CL2,CL0,CL0
5,6,"2,59171","0,48246","-1,22751","0,24923","-0,31685","-0,67825","-0,30033","-1,55521","2,03972",...,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL6,CL0,CL0
6,7,"1,09449","-0,48246","1,16365","-0,57009","-0,31685","-0,46725","-1,09207","-0,45174","-0,30172",...,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL6,CL0,CL0
7,8,"0,49788","-0,48246","-1,7379","0,96082","-0,31685","-1,32828","1,93886","-0,84732","-0,30172",...,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0

# <h3> Data manipulation (Object to numericals)

In [3]:
def handle_non_numerical_data(df):
    columns = df.columns.values
    
    for column in columns:
        text_digit_vals = {}
        def convert_to_int(val):
            return text_digit_vals[val]
        
        if df[column].dtype != np.int64 and df[column].dtype != np.float64:
            print(column)
            column_contents = df[column].values.tolist()
            unique_elements = set(column_contents)
            x=0
            for unique in unique_elements:
                if unique not in text_digit_vals:
                    #print(unique + " : " + str(x))
                    text_digit_vals[unique] = x
                    x+=1        
            df[column] = list(map(convert_to_int, df[column])) 
    
    return df

In [4]:
for i in range(13,32):
    drug_data[drug_data.columns[i]] = drug_data[drug_data.columns[i]].str.replace('CL','').astype(int)

In [5]:
for i in range(6,13):
    drug_data[drug_data.columns[i]] = drug_data[drug_data.columns[i]].str.replace(',','.').astype(np.float64)

In [6]:
drug_data.head(8)

,ID,Age,Gender,Education,Country,Ethnicity,Nscore,Escore,Oscore,Ascore,...,Ecstasy,Heroin,Ketamine,Legalh,LSD,Meth,Mushrooms,Nicotine,Semer,VSA
0,1,"0,49788","0,48246","-0,05921","0,96082","0,126",0.31287,-0.57545,-0.58331,-0.91699,...,0,0,0,0,0,0,0,2,0,0
1,2,"-0,07854","-0,48246","1,98437","0,96082","-0,31685",-0.67825,1.93886,1.43533,0.76096,...,4,0,2,0,2,3,0,4,0,0
2,3,"0,49788","-0,48246","-0,05921","0,96082","-0,31685",-0.46725,0.80523,-0.84732,-1.62090,...,0,0,0,0,0,0,1,0,0,0
3,4,"-0,95197","0,48246","1,16365","0,96082","-0,31685",-0.14882,-0.80615,-0.01928,0.59042,...,0,0,2,0,0,0,0,2,0,0
4,5,"0,49788","0,48246","1,98437","0,96082","-0,31685",0.73545,-1.63340,-0.45174,-0.30172,...,1,0,0,1,0,0,2,2,0,0
5,6,"2,59171","0,48246","-1,22751","0,24923","-0,31685",-0.67825,-0.30033,-1.55521,2.03972,...,0,0,0,0,0,0,0,6,0,0
6,7,"1,09449","-0,48246","1,16365","-0,57009","-0,31685",-0.46725,-1.09207,-0.45174,-0.30172,...,0,0,0,0,0,0,0,6,0,0
7,8,"0,49788","-0,48246","-1,7379","0,96082","-0,31685",-1.32828,1.93886,-0.84732,-0.30172,...,0,0,0,0,0,0,0,0,0,0

In [7]:
drug_data = handle_non_numerical_data(drug_data)

Age
Gender
Education
Country
Ethnicity
Alcohol
Amphet
Amyl
Benzos
Caffeine
Cannabis
Chocolate
Cocaine
Crack
Ecstasy
Heroin
Ketamine
Legalh
LSD
Meth
Mushrooms
Nicotine
Semer
VSA

In [8]:
drug_data.head(8)

,ID,Age,Gender,Education,Country,Ethnicity,Nscore,Escore,Oscore,Ascore,...,Ecstasy,Heroin,Ketamine,Legalh,LSD,Meth,Mushrooms,Nicotine,Semer,VSA
0,1,0,1,7,5,4,0.31287,-0.57545,-0.58331,-0.91699,...,0,0,0,0,0,0,0,2,0,0
1,2,4,0,4,5,3,-0.67825,1.93886,1.43533,0.76096,...,4,0,2,0,2,3,0,4,0,0
2,3,0,0,7,5,3,-0.46725,0.80523,-0.84732,-1.62090,...,0,0,0,0,0,0,1,0,0,0
3,4,1,1,3,5,3,-0.14882,-0.80615,-0.01928,0.59042,...,0,0,2,0,0,0,0,2,0,0
4,5,0,1,4,5,3,0.73545,-1.63340,-0.45174,-0.30172,...,1,0,0,1,0,0,2,2,0,0
5,6,2,1,8,2,3,-0.67825,-0.30033,-1.55521,2.03972,...,0,0,0,0,0,0,0,6,0,0
6,7,3,0,3,0,3,-0.46725,-1.09207,-0.45174,-0.30172,...,0,0,0,0,0,0,0,6,0,0
7,8,0,0,0,5,3,-1.32828,1.93886,-0.84732,-0.30172,...,0,0,0,0,0,0,0,0,0,0

In [9]:
drug_data.dtypes

ID             int64
Age            int64
Gender         int64
Education      int64
Country        int64
Ethnicity      int64
Nscore       float64
Escore       float64
Oscore       float64
Ascore       float64
Cscore       float64
Impulsive    float64
SS           float64
Alcohol        int64
Amphet         int64
Amyl           int64
Benzos         int64
Caffeine       int64
Cannabis       int64
Chocolate      int64
Cocaine        int64
Crack          int64
Ecstasy        int64
Heroin         int64
Ketamine       int64
Legalh         int64
LSD            int64
Meth           int64
Mushrooms      int64
Nicotine       int64
Semer          int64
VSA            int64
dtype: object

In [10]:
sample_columns = drug_data[['Age','Nicotine']]

In [32]:
age_nscore = drug_data[['Gender','Nscore']]
nscore = drug_data[['Nscore']]
nscore_age2 = age_nscore[drug_data["Gender"]==1]
nscore2 = nscore_age2[['Nscore']]
print(nscore.mean())
print(nscore2.mean())

Nscore    0.000047
dtype: float64
Nscore    0.074571
dtype: float64

In [33]:
print(len(nscore2))

942

In [34]:
stats.ttest_1samp(a= nscore2,               # Sample data
                 popmean= nscore.mean())  # Pop mean

Ttest_1sampResult(statistic=Nscore    2.32802
dtype: float64, pvalue=array([ 0.02012224]))

In [35]:
stats.t.ppf(q=0.025,  # Quantile to check
            df=941)  # Degrees of freedom

-1.9624881860127243

In [36]:
stats.t.ppf(q=0.975,  # Quantile to check
            df=941)  # Degrees of freedom

1.9624881860127239

In [37]:
stats.t.cdf(x= -1.8010,      # T-test statistic
               df= 941) * 2   # Mupltiply by two for two tailed test*

0.072022948058081016

In [38]:
sigma = nscore2.std()/math.sqrt(942)  # Sample stdev/sample size

stats.t.interval(0.95,                        # Confidence level
                 df = 941,                     # Degrees of freedom
                 loc = nscore2.mean(),        # Sample mean
                 scale= sigma)                # Standard dev estimate              # Standard dev estimate

(array([ 0.01174795]), array([ 0.13739377]))

In [42]:
stats.t.interval(0.99,                        # Confidence level
                 df = 941,                     # Degrees of freedom
                 loc = nscore2.mean(),        # Sample mean
                 scale= sigma)                # Standard dev estimate

(array([-0.00805383]), array([ 0.15719555]))

In [11]:
nico_freq = pd.value_counts(sample_columns['Nicotine'])
nico_freq/len(sample_columns)

6    0.323607
0    0.227056
2    0.108223
1    0.102387
3    0.098143
5    0.083289
4    0.057294
Name: Nicotine, dtype: float64

In [12]:
nicotine_table = pd.crosstab(index=sample_columns['Nicotine'], columns=["count"])
nico_ratio = nicotine_table/len(drug_data)
nico_ratio

col_0        count
Nicotine
0         0.227056
1         0.102387
2         0.108223
3         0.098143
4         0.057294
5         0.083289
6         0.323607

In [20]:
age_0 = sample_columns[drug_data["Age"]==2]
nico_0 = pd.crosstab(index=age_0['Nicotine'], columns=["count"])
nico_0_ratio = nico_0/len(age_0)
nico_0_ratio

col_0        count
Nicotine
0         0.166407
1         0.003110
2         0.074650
3         0.141524
4         0.105754
5         0.130638
6         0.377916

In [21]:
observed = nico_0
general_ratios = nico_ratio
expected = general_ratios * len(age_0)
chi_squared_stat = (((observed-expected)**2)/expected).sum()
print(chi_squared_stat)

col_0
count    140.861374
dtype: float64

In [17]:
crit = stats.chi2.ppf(q = 0.95, # Find the critical value for 95% confidence*
                      df = 6)   # Df = number of variable categories - 1

print("Critical value")
print(crit)

p_value = 1 - stats.chi2.cdf(x=chi_squared_stat,  # Find the p-value
                             df=6)
print("P value")
print(p_value)

Critical value
12.5915872437
P value
[  8.17986057e-06]

In [40]:
stats.chisquare(f_obs= observed,   # Array of observed counts
                f_exp= expected)   # Array of expected counts

Power_divergenceResult(statistic=array([ 33.55998876]), pvalue=array([  8.17986057e-06]))

In [110]:
relation = sample_columns.groupby(['Age'])['Nicotine'].value_counts()
relation

Age  Nicotine
0    6           243
     0           107
     3            91
     5            84
     4            68
     2            48
     1             2
1    6           152
     0           109
     2            68
     3            52
     5            45
     1            32
     4            23
2    0           102
     6            75
     1            58
     2            33
     3            14
     4             6
     5             6
3    1            33
     6            26
     0            25
     2             4
     3             2
     4             2
     5             1
4    6           109
     0            78
     1            62
     2            51
     3            26
     5            21
     4             9
5    0             7
     1             6
     6             5
Name: Nicotine, dtype: int64

In [97]:
pd.Series(relation).sum()

1885

In [56]:
relation.pivot('Cannabis','Chocolate')['Age'].head()

AttributeError: 'Series' object has no attribute 'pivot'

In [57]:
plt.figure(figsize=(9,9))
pivot_table = relation.pivot('Cannabis','Chocolate','Age')
plt.xlabel('Chocolate', size=15)
plt.ylabel('Cannabis', size=15)
plt.title("Choco&Cannabis relation with AGE", size=16)
sns.heatmap(pivot_table, annot=True, fmt=".1f", lineWidth=.5, square=True, cmap='Blues_r')

# f, ax = plt.subplots(figsize=(20, 18))
# sns.heatmap(train.isnull(),yticklabels=False,cbar=False,cmap='viridis')

AttributeError: 'Series' object has no attribute 'pivot'