In [1]:
import pandas as pd
import numpy as np 

import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
%matplotlib inline

file = '../input/drug_data.csv'
drug_data = pd.read_csv(file,'rb', delimiter =';')
#train.describe()

In [2]:
drug_data.head(8)
#train.shape

,ID,Age,Gender,Education,Country,Ethnicity,Nscore,Escore,Oscore,Ascore,...,Ecstasy,Heroin,Ketamine,Legalh,LSD,Meth,Mushrooms,Nicotine,Semer,VSA
0,1,"0,49788","0,48246","-0,05921","0,96082","0,126","0,31287","-0,57545","-0,58331","-0,91699",...,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL2,CL0,CL0
1,2,"-0,07854","-0,48246","1,98437","0,96082","-0,31685","-0,67825","1,93886","1,43533","0,76096",...,CL4,CL0,CL2,CL0,CL2,CL3,CL0,CL4,CL0,CL0
2,3,"0,49788","-0,48246","-0,05921","0,96082","-0,31685","-0,46725","0,80523","-0,84732","-1,6209",...,CL0,CL0,CL0,CL0,CL0,CL0,CL1,CL0,CL0,CL0
3,4,"-0,95197","0,48246","1,16365","0,96082","-0,31685","-0,14882","-0,80615","-0,01928","0,59042",...,CL0,CL0,CL2,CL0,CL0,CL0,CL0,CL2,CL0,CL0
4,5,"0,49788","0,48246","1,98437","0,96082","-0,31685","0,73545","-1,6334","-0,45174","-0,30172",...,CL1,CL0,CL0,CL1,CL0,CL0,CL2,CL2,CL0,CL0
5,6,"2,59171","0,48246","-1,22751","0,24923","-0,31685","-0,67825","-0,30033","-1,55521","2,03972",...,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL6,CL0,CL0
6,7,"1,09449","-0,48246","1,16365","-0,57009","-0,31685","-0,46725","-1,09207","-0,45174","-0,30172",...,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL6,CL0,CL0
7,8,"0,49788","-0,48246","-1,7379","0,96082","-0,31685","-1,32828","1,93886","-0,84732","-0,30172",...,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0

# <h3> Data manipulation (Object to numericals)

In [3]:
def handle_non_numerical_data(df):
    columns = df.columns.values
    
    for column in columns:
        text_digit_vals = {}
        def convert_to_int(val):
            return text_digit_vals[val]
        
        if df[column].dtype != np.int64 and df[column].dtype != np.float64:
            print(column)
            column_contents = df[column].values.tolist()
            unique_elements = set(column_contents)
            x=0
            for unique in unique_elements:
                if unique not in text_digit_vals:
                    print(unique + " : " + str(x))
                    text_digit_vals[unique] = x
                    x+=1        
            df[column] = list(map(convert_to_int, df[column])) 
    
    return df

In [4]:
for i in range(13,32):
    drug_data[drug_data.columns[i]] = drug_data[drug_data.columns[i]].str.replace('CL','').astype(int)

In [5]:
for i in range(6,13):
    drug_data[drug_data.columns[i]] = drug_data[drug_data.columns[i]].str.replace(',','.').astype(np.float64)

In [6]:
def change_age(cls):
    if cls == -0.95197:
        return '18-24'
    elif cls == -0.07854:
        return '25-34'
    elif cls == 0.49788:
        return '35-44'
    elif cls == 1.09449:
        return '45-54'
    elif cls == 1.82213:
        return '55-64'
    elif cls == 2.59171:
        return '65+'
    
def change_gender(cls):
    if cls == 0.48246:
        return "male"
    elif cls == -0.48246:
        return "female"

In [7]:
drug_data['Age'] = drug_data['Age'].str.replace(',','.').astype(np.float64)
drug_data['Age'] = drug_data['Age'].apply(change_age)

In [8]:
drug_data['Gender'] = drug_data['Gender'].str.replace(',','.').astype(np.float64)
drug_data['Gender'] = drug_data['Gender'].apply(change_gender)

In [9]:
drug_data.head(8)

,ID,Age,Gender,Education,Country,Ethnicity,Nscore,Escore,Oscore,Ascore,...,Ecstasy,Heroin,Ketamine,Legalh,LSD,Meth,Mushrooms,Nicotine,Semer,VSA
0,1,35-44,male,"-0,05921","0,96082","0,126",0.31287,-0.57545,-0.58331,-0.91699,...,0,0,0,0,0,0,0,2,0,0
1,2,25-34,female,"1,98437","0,96082","-0,31685",-0.67825,1.93886,1.43533,0.76096,...,4,0,2,0,2,3,0,4,0,0
2,3,35-44,female,"-0,05921","0,96082","-0,31685",-0.46725,0.80523,-0.84732,-1.62090,...,0,0,0,0,0,0,1,0,0,0
3,4,18-24,male,"1,16365","0,96082","-0,31685",-0.14882,-0.80615,-0.01928,0.59042,...,0,0,2,0,0,0,0,2,0,0
4,5,35-44,male,"1,98437","0,96082","-0,31685",0.73545,-1.63340,-0.45174,-0.30172,...,1,0,0,1,0,0,2,2,0,0
5,6,65+,male,"-1,22751","0,24923","-0,31685",-0.67825,-0.30033,-1.55521,2.03972,...,0,0,0,0,0,0,0,6,0,0
6,7,45-54,female,"1,16365","-0,57009","-0,31685",-0.46725,-1.09207,-0.45174,-0.30172,...,0,0,0,0,0,0,0,6,0,0
7,8,35-44,female,"-1,7379","0,96082","-0,31685",-1.32828,1.93886,-0.84732,-0.30172,...,0,0,0,0,0,0,0,0,0,0

In [10]:
# drug_data = handle_non_numerical_data(drug_data)

In [11]:
drug_data.head(8)

,ID,Age,Gender,Education,Country,Ethnicity,Nscore,Escore,Oscore,Ascore,...,Ecstasy,Heroin,Ketamine,Legalh,LSD,Meth,Mushrooms,Nicotine,Semer,VSA
0,1,35-44,male,"-0,05921","0,96082","0,126",0.31287,-0.57545,-0.58331,-0.91699,...,0,0,0,0,0,0,0,2,0,0
1,2,25-34,female,"1,98437","0,96082","-0,31685",-0.67825,1.93886,1.43533,0.76096,...,4,0,2,0,2,3,0,4,0,0
2,3,35-44,female,"-0,05921","0,96082","-0,31685",-0.46725,0.80523,-0.84732,-1.62090,...,0,0,0,0,0,0,1,0,0,0
3,4,18-24,male,"1,16365","0,96082","-0,31685",-0.14882,-0.80615,-0.01928,0.59042,...,0,0,2,0,0,0,0,2,0,0
4,5,35-44,male,"1,98437","0,96082","-0,31685",0.73545,-1.63340,-0.45174,-0.30172,...,1,0,0,1,0,0,2,2,0,0
5,6,65+,male,"-1,22751","0,24923","-0,31685",-0.67825,-0.30033,-1.55521,2.03972,...,0,0,0,0,0,0,0,6,0,0
6,7,45-54,female,"1,16365","-0,57009","-0,31685",-0.46725,-1.09207,-0.45174,-0.30172,...,0,0,0,0,0,0,0,6,0,0
7,8,35-44,female,"-1,7379","0,96082","-0,31685",-1.32828,1.93886,-0.84732,-0.30172,...,0,0,0,0,0,0,0,0,0,0

In [12]:
drug_data.dtypes

ID             int64
Age           object
Gender        object
Education     object
Country       object
Ethnicity     object
Nscore       float64
Escore       float64
Oscore       float64
Ascore       float64
Cscore       float64
Impulsive    float64
SS           float64
Alcohol        int64
Amphet         int64
Amyl           int64
Benzos         int64
Caffeine       int64
Cannabis       int64
Chocolate      int64
Cocaine        int64
Crack          int64
Ecstasy        int64
Heroin         int64
Ketamine       int64
Legalh         int64
LSD            int64
Meth           int64
Mushrooms      int64
Nicotine       int64
Semer          int64
VSA            int64
dtype: object

In [13]:
sample_columns = drug_data[['Gender','Cocaine']]

In [14]:
coke_freq = pd.value_counts(sample_columns['Cocaine'])
coke_freq/len(sample_columns)

0    0.550663
2    0.143236
3    0.136870
1    0.084881
4    0.052520
5    0.021751
6    0.010080
Name: Cocaine, dtype: float64

In [15]:
coke_table = pd.crosstab(index=sample_columns['Cocaine'], columns=["count"])
coke_ratio = coke_table/len(drug_data)
coke_ratio

col_0       count
Cocaine
0        0.550663
1        0.084881
2        0.143236
3        0.136870
4        0.052520
5        0.021751
6        0.010080

In [29]:
gender_0 = sample_columns[drug_data["Gender"]=='female']
coke_0 = pd.crosstab(index=gender_0['Cocaine'], columns=["count"])
coke_0_ratio = coke_0/len(gender_0)
coke_0_ratio

col_0       count
Cocaine
0        0.468717
1        0.089077
2        0.154825
3        0.178155
4        0.065748
5        0.028632
6        0.014846

In [30]:
observed = coke_0
general_ratios = coke_ratio
expected = general_ratios * len(gender_0)
chi_squared_stat = (((observed-expected)**2)/expected).sum()
print(chi_squared_stat)

col_0
count    31.642954
dtype: float64

In [31]:
crit = stats.chi2.ppf(q = 0.95, # Find the critical value for 95% confidence*
                      df = 6)   # Df = number of variable categories - 1

print("Critical value")
print(crit)

p_value = 1 - stats.chi2.cdf(x=chi_squared_stat,  # Find the p-value
                             df=6)
print("P value")
print(p_value)

Critical value
12.5915872437
P value
[  1.91007380e-05]

In [32]:
stats.chisquare(f_obs= observed,   # Array of observed counts
                f_exp= expected)   # Array of expected counts

Power_divergenceResult(statistic=array([ 31.64295432]), pvalue=array([  1.91007380e-05]))

In [33]:
relation = sample_columns.groupby(['Age'])['Nicotine'].value_counts()
relation

KeyError: 'Age'

In [97]:
pd.Series(relation).sum()

1885

In [112]:
addicted = []
non_addict = []
for i in range(0, 6):
    if relation[i][1] == 6:
        print(relation[i][0])

7

In [87]:
relation = relation.reset_index()
relation

KeyError: 'Age'

In [108]:
"""
corr = train.corr()
corr.sort_values(['Age'], ascending = False, inplace = True)
print(corr.Age)
"""

"\ncorr = train.corr()\ncorr.sort_values(['Age'], ascending = False, inplace = True)\nprint(corr.Age)\n"

In [55]:
relation.pivot('Age').head()

AttributeError: 'Series' object has no attribute 'pivot'

In [56]:
relation.pivot('Cannabis','Chocolate')['Age'].head()

AttributeError: 'Series' object has no attribute 'pivot'

In [57]:
plt.figure(figsize=(9,9))
pivot_table = relation.pivot('Cannabis','Chocolate','Age')
plt.xlabel('Chocolate', size=15)
plt.ylabel('Cannabis', size=15)
plt.title("Choco&Cannabis relation with AGE", size=16)
sns.heatmap(pivot_table, annot=True, fmt=".1f", lineWidth=.5, square=True, cmap='Blues_r')

# f, ax = plt.subplots(figsize=(20, 18))
# sns.heatmap(train.isnull(),yticklabels=False,cbar=False,cmap='viridis')

AttributeError: 'Series' object has no attribute 'pivot'